{% extends 'frontend/base.html' %}
{% block title%} Order {% endblock %}
{% block content %}
{% load static %}


<div class="jumbotron">
    <h1 class="display-3"> Order </h1>
    <hr class="my-4">

    <div>
        <img src="{% static "images/icon-pizza.png" %}" width="80">
        <font size="6" align="center"> : Pizza xxxxx </font>
        <div align="right">
            <a class="btn  btn-primary btn-lg" href="" role="button"> Select </a>
        </div>  
    </div>

    <hr class="my-3">

    <div>
        <img src="{% static "images/icon-pizza.png" %}" width="80">
        <font size="6" align="center"> : Pizza xxxxx </font>
        <div align="right">
            <a class="btn  btn-primary btn-lg" href="" role="button"> Select </a>
        </div>
    </div>

    <hr class="my-3">

    <div>
        <img src="{% static "images/icon-pizza.png" %}" width="80">
        <font size="6" align="center"> : Pizza xxxxx </font>
        <div align="right">
            <a class="btn  btn-primary btn-lg" href="" role="button"> Select </a>
        </div>
    </div>

    <hr class="my-3">

    <div>
        <img src="{% static "images/icon-pizza.png" %}" width="80">
        <font size="6" align="center"> : Pizza xxxxx </font>
        <div align="right">
            <a class="btn  btn-primary btn-lg" href="" role="button"> Select </a>
        </div>
    </div>

    <hr class="my-3">

    <div align="center">
        <font size="6" align="center"> Contact Us </font>
    </div>

    <div align="center">
        <img src="{% static "images/icon-facebook.png" %}" width="35">
        <img src="{% static "images/icon-instagram.png" %}" width="35"> 
        <img src="{% static "images/icon-line.png" %}" width="35">
        <img src="{% static "images/icon-twitter.png" %}" width="35">
    </div>
</div>

{% endblock %}

